openapi: 3.0.1
info:
  title: Epic on Fhir
  description: All of the components of the Change Healthcare Interoperability Apis
  contact:
    email: bmain@lumeris.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR
security:
  - bearer_auth: []
paths:
  /R4/AdverseEvent/{ID}:
    get:
      tags:
        - AdverseEvent
        - Read(R4)
      operationId: AdverseEvent_ReadR4
      parameters:
        - name: ID
          in: path
          description: The Adverse Event FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdverseEventR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/AdverseEvent:
    get:
      tags:
        - AdverseEvent
        - Search(R4)
      operationId: AdverseEvent_SearchR4
      parameters:
        - name: seriousness
          in: query
          description: |-
            <p>Seriousness of the event. Possible values are:</p>
            <ul>
            <li>Serious</li>
            <li>Non-Serious</li>
            </ul>
          required: false
          schema:
            type: string
        - name: study
          in: query
          description: A ResearchStudy FHIR ID.
          required: true
          schema:
            type: string
        - name: subject
          in: query
          description: A Patient FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_AdverseEventR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/AllergyIntolerance:
    post:
      tags:
        - AllergyIntolerance
        - Create(R4)
      operationId: AllergyIntolerance_CreateR4
      parameters: []
      responses:
        '201':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllergyIntoleranceR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
      requestBody:
        description: payload
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllergyIntoleranceR4'
    get:
      tags:
        - AllergyIntolerance
        - Search(R4)
      operationId: AllergyIntolerance_SearchR4
      parameters:
        - name: clinical-status
          in: query
          description: |-
            <p>The current status of the allergy. Only "active" is accepted.
            <p>Starting in the August 2021 version of Epic, this parameter is no longer required, and if is not specified, both active and inactive/resolved allergies are returned.
          required: false
          schema:
            type: string
        - name: patient
          in: query
          description: Reference to a patient resource.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_AllergyIntoleranceR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /STU3/AllergyIntolerance:
    post:
      tags:
        - AllergyIntolerance
        - Create(STU3)
      operationId: AllergyIntolerance_CreateSTU3
      parameters: []
      responses:
        '201':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllergyIntoleranceSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
      requestBody:
        description: payload
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllergyIntoleranceSTU3'
    get:
      tags:
        - AllergyIntolerance
        - Search(STU3)
      operationId: AllergyIntolerance_SearchSTU3
      parameters:
        - name: patient
          in: query
          description: Reference to a patient resource.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_AllergyIntoleranceSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /DSTU2/AllergyIntolerance/{ID}:
    get:
      tags:
        - AllergyIntolerance
        - Read(DSTU2)
      operationId: AllergyIntolerance_ReadDSTU2
      parameters:
        - name: ID
          in: path
          description: The AllergyIntolerance FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllergyIntoleranceDSTU2'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/AllergyIntolerance/{ID}:
    get:
      tags:
        - AllergyIntolerance
        - Read(R4)
      operationId: AllergyIntolerance_ReadR4
      parameters:
        - name: ID
          in: path
          description: The AllergyIntolerance FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllergyIntoleranceR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /STU3/AllergyIntolerance/{ID}:
    get:
      tags:
        - AllergyIntolerance
        - Read(STU3)
      operationId: AllergyIntolerance_ReadSTU3
      parameters:
        - name: ID
          in: path
          description: The AllergyIntolerance FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllergyIntoleranceSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /DSTU2/AllergyIntolerance:
    get:
      tags:
        - AllergyIntolerance
        - Search(DSTU2)
      operationId: AllergyIntolerance_SearchDSTU2
      parameters:
        - name: patient
          in: query
          description: Reference to a patient resource.
          required: false
          schema:
            type: string
        - name: subject
          in: query
          description: Reference to a patient resource.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_AllergyIntoleranceDSTU2'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /STU3/Appointment/{ID}:
    get:
      tags:
        - Appointment
        - Read(STU3)
      operationId: Appointment_ReadSTU3
      parameters:
        - name: ID
          in: path
          description: FHIR identifier for an Appointment resource.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /STU3/Appointment:
    get:
      tags:
        - Appointment
        - Search(STU3)
      operationId: Appointment_SearchSTU3
      parameters:
        - name: date
          in: query
          description: Appointment date.
          required: false
          schema:
            type: string
        - name: identifier
          in: query
          description: Appointment identifier (encounter CSN).
          required: false
          schema:
            type: string
        - name: patient
          in: query
          description: Reference to the Patient resource.
          required: true
          schema:
            type: string
        - name: status
          in: query
          description: |-
            Appointment status. Supported values include:
            <ul>
            <li>booked</li>
            <li>fulfilled</li>
            <li>cancelled</li>
            <li>noshow</li>
            <li>arrived</li>
            <li>proposed</li>
            </ul>
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_AppointmentSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /STU3/Binary/{ID}:
    get:
      tags:
        - Binary
        - Read(RadiologyResults)(STU3)
      operationId: Binary_ReadRadiologyResultsSTU3
      parameters:
        - name: ID
          in: path
          description: The Binary FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BinarySTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/Binary/{ID}:
    get:
      tags:
        - Binary
        - Read(RadiologyResults)(R4)
      operationId: Binary_ReadRadiologyResultsR4
      parameters:
        - name: ID
          in: path
          description: <p>The Binary FHIR ID.</p>
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BinaryR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /DSTU2/Binary/{ID}:
    get:
      tags:
        - Binary
        - Read(GeneratedCCDA)(DSTU2)
      operationId: Binary_ReadGeneratedCCDADSTU2
      parameters:
        - name: ID
          in: path
          description: <p>The FHIR ID.</p>
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BinaryDSTU2'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/BodyStructure/{ID}:
    get:
      tags:
        - BodyStructure
        - Read(Tooth)(R4)
      operationId: BodyStructure_ReadToothR4
      parameters:
        - name: ID
          in: path
          description: BodyStructure identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BodyStructureR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/BodyStructure:
    get:
      tags:
        - BodyStructure
        - Search(Tooth)(R4)
      operationId: BodyStructure_SearchToothR4
      parameters:
        - name: location
          in: query
          description: 'Accepts a string for a specific tooth in the patient’s mouth. Format: “[Notation OID]|[tooth ID]”, where “Notation OID” is the OID matching the tooth notation system used to communicate the tooth ID. May send multiple entries separated by commas. Supported notations are Universal (94010), FDI (94011) and Palmer (94013). Ex. “urn:oid:1.2.840.114350.1.13.861.1.7.3.866976.94010|32”'
          required: false
          schema:
            type: string
        - name: morphology
          in: query
          description: Points a search to the correct subresource of tooth. Either “teeth” or “302214001” are accepted. These values are functionally equivalent.
          required: false
          schema:
            type: string
        - name: patient
          in: query
          description: The patient to search for.
          required: false
          schema:
            type: string
        - name: subject
          in: query
          description: The patient to search for.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_BodyStructureR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /BulkRequest/{BulkRequestID}:
    get:
      tags:
        - BulkDataStatusRequest
      operationId: BulkDataStatusRequest
      parameters:
        - name: BulkRequestID
          in: path
          description: The Adverse Event FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                type: object
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/MedicationRequest/{ID}:
    get:
      tags:
        - MedicationRequest
        - |
          Read(Orders)(R4)
      operationId: |
        MedicationRequest_ReadOrdersR4
      parameters:
        - name: ID
          in: path
          description: A medicationRequest FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicationRequestR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/ServiceRequest/{ID}:
    get:
      tags:
        - ServiceRequest
        - Read(Referral)(R4)
      operationId: ServiceRequest_ReadReferralR4
      parameters:
        - name: ID
          in: path
          description: FHIR ServiceRequest ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceRequestR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/CarePlan/{ID}:
    get:
      tags:
        - CarePlan
        - Read(QuestionnairesDue)(R4)
      operationId: CarePlan_ReadQuestionnairesDueR4
      parameters:
        - name: ID
          in: path
          description: FHIR identifier for a CarePlan resource.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarePlanR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /DSTU2/CarePlan/{ID}:
    get:
      tags:
        - CarePlan
        - Read(Encounter-Level,Longitudinal)(DSTU2)
      operationId: CarePlan_ReadEncounter-Level,LongitudinalDSTU2
      parameters:
        - name: ID
          in: path
          description: The CarePlan FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarePlanDSTU2'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/CarePlan:
    get:
      tags:
        - CarePlan
        - Search(QuestionnairesDue)(R4)
      operationId: CarePlan_SearchQuestionnairesDueR4
      parameters:
        - name: activity-date
          in: query
          description: Date when the questionnaires are due before.
          required: true
          schema:
            type: string
        - name: category
          in: query
          description: Always set to SNOMED 719091000000102.
          required: true
          schema:
            type: string
        - name: patient
          in: query
          description: Patient FHIR resource ID for the patient associated with the care plan.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_CarePlanR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /DSTU2/CarePlan:
    get:
      tags:
        - CarePlan
        - Search(Encounter-Level,Longitudinal)(DSTU2)
      operationId: CarePlan_SearchEncounter-Level,LongitudinalDSTU2
      parameters:
        - name: _id
          in: query
          description: A parameter
          required: false
          schema:
            type: string
        - name: category
          in: query
          description: |-
            <p>Further refine which CarePlan resources are returned by category. There are two supported categories:</p>
            <ul>
            <li>38717003 returns only the Longitudinal care plan.</li>
            <li>734163000 returns encounter-level care plans.</li>
            </ul>
            <p>If no category is specified, the web service returns only the Longitudinal care plan.</p>
          required: false
          schema:
            type: string
        - name: patient
          in: query
          description: The reference to a patient resource.
          required: false
          schema:
            type: string
        - name: subject
          in: query
          description: The reference to a patient resource.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_CarePlanDSTU2'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/CareTeam/{ID}:
    get:
      tags:
        - CareTeam
        - Read(Episode)(R4)
      operationId: CareTeam_ReadEpisodeR4
      parameters:
        - name: ID
          in: path
          description: FHIR ID for this CareTeam instance
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareTeamR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/CareTeam:
    get:
      tags:
        - CareTeam
        - Search(Longitudinal)(R4)
      operationId: CareTeam_SearchLongitudinalR4
      parameters:
        - name: patient
          in: query
          description: Patient FHIR resource ID.
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: CareTeam status. The only supported value is "active".
          required: false
          schema:
            type: string
        - name: subject
          in: query
          description: Patient FHIR resource ID.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_CareTeamR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/Communication:
    post:
      tags:
        - Communication
        - Create(CommunityResource)(R4)
      operationId: Communication_CreateCommunityResourceR4
      parameters: []
      responses:
        '201':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunicationR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
      requestBody:
        description: payload
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommunicationR4'
    get:
      tags:
        - Communication
        - Search(CommunityResource)(R4)
      operationId: Communication_SearchCommunityResourceR4
      parameters:
        - name: part-of
          in: query
          description: Reference to the Task resource this Communication belongs to.
          required: false
          schema:
            type: string
        - name: patient
          in: query
          description: Search for Communication resources for a specified patient ID. You can use both "patient" and "subject" equivalently, but if you use both they must look to the same value.
          required: false
          schema:
            type: string
        - name: subject
          in: query
          description: Search for Communication resources for a specified subject. You can use both "patient" and "subject" equivalently, but if you use both they must look to the same value.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_CommunicationR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/Communication/{ID}:
    get:
      tags:
        - Communication
        - Read(CommunityResource)(R4)
      operationId: Communication_ReadCommunityResourceR4
      parameters:
        - name: ID
          in: path
          description: The FHIR identifier for the target Communication resource.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunicationR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/Condition:
    post:
      tags:
        - Condition
        - Create(Problems)(R4)
      operationId: Condition_CreateProblemsR4
      parameters: []
      responses:
        '201':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
      requestBody:
        description: payload
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConditionR4'
    get:
      tags:
        - Condition
        - Search(ReasonforVisit)(R4)
      operationId: Condition_SearchReasonforVisitR4
      parameters:
        - name: category
          in: query
          description: |
            Always “reason-for-visit” for this API.
            Multiple category values are allowed if the requestor is authorized to search multiple Condition categories.
          required: false
          schema:
            type: string
        - name: encounter
          in: query
          description: Reference to an encounter resource the condition is for.
          required: false
          schema:
            type: string
        - name: patient
          in: query
          description: Reference to a patient resource the condition is for.
          required: false
          schema:
            type: string
        - name: subject
          in: query
          description: Reference to a patient resource the condition is for.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_ConditionR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /STU3/Condition:
    post:
      tags:
        - Condition
        - Create(Problems)(STU3)
      operationId: Condition_CreateProblemsSTU3
      parameters: []
      responses:
        '201':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
      requestBody:
        description: payload
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConditionSTU3'
    get:
      tags:
        - Condition
        - Search(EncounterDiagnosis,Problems)(STU3)
      operationId: Condition_SearchEncounterDiagnosis,ProblemsSTU3
      parameters:
        - name: category
          in: query
          description: This is "problem-list-item", "encounter-diagnosis", or "health-concern". The default is to return problem list conditions.
          required: false
          schema:
            type: string
        - name: clinical-status
          in: query
          description: |-
            <p>Status of the condition</p>
            <table class="table table-hover">
            <tr>
            <th>FHIR Status</th>
            <th>Epic Status</th>
            </tr>
            <tr>
            <td>active</td>
            <td>active conditions</td>
            </tr>
            <tr>
            <td>resolved</td>
            <td> resolved conditions</td>
            </tr>
            <tr>
            <td>inactive</td>
            <td>deleted conditions</td>
            </tr>
            </table>
            <p>If no status is specified all active (confirmed) conditions will be returned. </p>
            <p>*Note: Any FHIR Status not listed in the above table is not returned.</p>
          required: false
          schema:
            type: string
        - name: encounter
          in: query
          description: A reference to an Encounter resource that the diagnosis is asserted. If not provided, only problem list conditions will be returned.
          required: false
          schema:
            type: string
        - name: patient
          in: query
          description: The Patient FHIR resource ID.
          required: false
          schema:
            type: string
        - name: subject
          in: query
          description: Subject of the Condition.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_ConditionSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/Condition/{ID}:
    get:
      tags:
        - Condition
        - Read(ReasonforVisit)(R4)
      operationId: Condition_ReadReasonforVisitR4
      parameters:
        - name: ID
          in: path
          description: FHIR identifier for the target Condition resource.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /STU3/Condition/{ID}:
    get:
      tags:
        - Condition
        - Read(EncounterDiagnosis,Problems)(STU3)
      operationId: Condition_ReadEncounterDiagnosis,ProblemsSTU3
      parameters:
        - name: ID
          in: path
          description: The Condition FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /DSTU2/Condition/{ID}:
    get:
      tags:
        - Condition
        - Read(Problems)(DSTU2)
      operationId: Condition_ReadProblemsDSTU2
      parameters:
        - name: ID
          in: path
          description: The Condition FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionDSTU2'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /DSTU2/Condition:
    get:
      tags:
        - Condition
        - Search(Problems)(DSTU2)
      operationId: Condition_SearchProblemsDSTU2
      parameters:
        - name: category
          in: query
          description: Type of condition – must be “Diagnosis”.
          required: false
          schema:
            type: string
        - name: clinicalStatus
          in: query
          description: |-
            <p>Status of the condition</p>
            <table class="table table-hover">
            <tr>
            <th>FHIR Status</th>
            <th>Epic Status</th>
            </tr>
            <tr>
            <td>active</td>
            <td>active conditions</td>
            </tr>
            <tr>
            <td>resolved</td>
            <td> resolved conditions</td>
            </tr>
            <tr>
            <td>inactive</td>
            <td>deleted conditions</td>
            </tr>
            </table>
            <p>If no status is specified all active (confirmed) conditions will be returned. </p>
            <p>*Note: Any FHIR Status not listed in the above table is not returned.</p>
          required: false
          schema:
            type: string
        - name: patient
          in: query
          description: The Patient FHIR resource ID.
          required: false
          schema:
            type: string
        - name: subject
          in: query
          description: Subject of the condition.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_ConditionDSTU2'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/Consent/{ID}:
    get:
      tags:
        - Consent
        - Read(Document)(R4)
      operationId: Consent_ReadDocumentR4
      parameters:
        - name: ID
          in: path
          description: The FHIR ID for a Consent resource.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /STU3/Consent/{ID}:
    get:
      tags:
        - Consent
        - Read(Document)(STU3)
      operationId: Consent_ReadDocumentSTU3
      parameters:
        - name: ID
          in: path
          description: The Consent FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/Consent:
    get:
      tags:
        - Consent
        - Search(CodeStatus)(R4)
      operationId: Consent_SearchCodeStatusR4
      parameters:
        - name: category
          in: query
          description: The type of code status. Code statuses always include the Advanced Directive (acd) category from the specification of the FHIR ConsentCategoryCodes (consent-category) value set, and additional information about what type of code status.
          required: false
          schema:
            type: string
        - name: patient
          in: query
          description: FHIR ID for the Patient the consent applies to.
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: 'The state of the code status for a patient. This value follows the specification of the FHIR ConsentState value set. '
          required: false
          schema:
            type: string
        - name: subject
          in: query
          description: FHIR ID for the Patient the consent applies to.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_ConsentR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /STU3/Consent:
    get:
      tags:
        - Consent
        - Search(Document)(STU3)
      operationId: Consent_SearchDocumentSTU3
      parameters:
        - name: category
          in: query
          description: |-
            <p>The type of consent document. This value follows the specification of the FHIR ConsentCategoryCodes (consent-category) value set, which includes LOINC codes and other identifiers. Additional values can be mapped by Epic organizations if desired.</p>
            <p>Supported consent categories include:</p>
            <ul>
            <li>59284-0 (Consent Document)</li>
            <li>64292-6 (Release of information Consent Document)</li>
            <li>84095-9 (Do not resuscitate)</li>
            <li>59284-0 (Clinical Consent)</li>
            <li>64293-4 (Procedure Consent Document)</li>
            <li>61359-6 (Anesthesia Consent Document)</li>
            <li>61358-8 (Surgical operation Consent Document)</li>
            <li>52027-0 (Abortion Consent Document)</li>
            <li>52029-6 (Sterilization Consent Document)</li>
            <li>64300-7 (Organ donation Consent Document)</li>
            <li>83930-8 (Research Consent Document)</li>
            </ul>
            <p>This API also supports SNOMED code 11341000146107-Advance Directive as a category.</p>
          required: false
          schema:
            type: string
        - name: patient
          in: query
          description: FHIR ID for the Patient the consent applies to.
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: |-
            <p>The state of the consent. This value follows the specification of the FHIR ConsentState value set. The following values have default out-of-the-box support in Epic. Additional statuses can be mapped by Epic organizations if desired.</p>
            <ul>
            <li>draft</li>
            <ul>
            <li>Corresponds to Epic value 11-Not Received</li>
            </ul>
            <li>active</li>
            <ul>
            <li>Corresponds to Epic values 10-Received and 20-Accepted</li>
            </ul>
            <li>rejected</li>
            <ul>
            <li>Corresponds to Epic value 1-Unknown</li>
            </ul>
            <li>entered-in-error</li>
            <ul>
            <li>Corresponds to Epic value 35-Error</li>
            </ul>
            <li>inactive</li>
            <ul>
            <li>Does not correspond to any Epic value by default</li>
            </ul>
            <li>proposed</li>
            <ul>
            <li>Does not correspond to any Epic value by default</li>
            </ul>
            </ul>
            <p>Consent documents with no status specified in Epic are returned when searching without a status parameter</p>
          required: false
          schema:
            type: string
        - name: subject
          in: query
          description: FHIR ID for the Patient the consent applies to.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_ConsentSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/Coverage/{ID}:
    get:
      tags:
        - Coverage
        - Read(R4)
      operationId: Coverage_ReadR4
      parameters:
        - name: ID
          in: path
          description: The FHIR Coverage ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /STU3/Coverage/{ID}:
    get:
      tags:
        - Coverage
        - Read(STU3)
      operationId: Coverage_ReadSTU3
      parameters:
        - name: ID
          in: path
          description: The Coverage FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/Coverage:
    get:
      tags:
        - Coverage
        - Search(R4)
      operationId: Coverage_SearchR4
      parameters:
        - name: beneficiary
          in: query
          description: <p>Either the beneficiary or the patient must be specified in the search request. If both are specified, they must match.</p>
          required: true
          schema:
            type: string
        - name: patient
          in: query
          description: <p>Either the beneficiary or the patient must be specified in the search request. If both are specified, they must match.</p>
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_CoverageR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /STU3/Coverage:
    get:
      tags:
        - Coverage
        - Search(STU3)
      operationId: Coverage_SearchSTU3
      parameters:
        - name: beneficiary
          in: query
          description: <p>Either the beneficiary or the patient must be specified in the search request. If both are specified, they must match.</p>
          required: true
          schema:
            type: string
        - name: patient
          in: query
          description: <p>Either the beneficiary or the patient must be specified in the search request. If both are specified, they must match.</p>
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_CoverageSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /DSTU2/Device/{ID}:
    get:
      tags:
        - Device
        - Read(DSTU2)
      operationId: Device_ReadDSTU2
      parameters:
        - name: ID
          in: path
          description: The Device FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDSTU2'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/Device/{ID}:
    get:
      tags:
        - Device
        - Read(Implants)(R4)
      operationId: Device_ReadImplantsR4
      parameters:
        - name: ID
          in: path
          description: The Device FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /STU3/Device/{ID}:
    get:
      tags:
        - Device
        - Read(ImplantsandExternalDevices)(STU3)
      operationId: Device_ReadImplantsandExternalDevicesSTU3
      parameters:
        - name: ID
          in: path
          description: The Device FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /DSTU2/Device:
    get:
      tags:
        - Device
        - Search(DSTU2)
      operationId: Device_SearchDSTU2
      parameters:
        - name: _id
          in: query
          description: A parameter
          required: false
          schema:
            type: string
        - name: patient
          in: query
          description: <p>Patient is always required.</p>
          required: true
          schema:
            type: string
        - name: type
          in: query
          description: <p>The type of the device.</p>
          required: false
          schema:
            type: string
        - name: udi
          in: query
          description: <p>FDA mandated Unique Device Identifier.</p>
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_DeviceDSTU2'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/Device:
    get:
      tags:
        - Device
        - Search(Implants)(R4)
      operationId: Device_SearchImplantsR4
      parameters:
        - name: device-name
          in: query
          description: <p>A string that may match the device UDI name.</p>
          required: false
          schema:
            type: string
        - name: manufacturer
          in: query
          description: <p>Device manufacturer.</p>
          required: false
          schema:
            type: string
        - name: model
          in: query
          description: <p>Device model.</p>
          required: false
          schema:
            type: string
        - name: patient
          in: query
          description: |-
            <p>Patient identifier for the patient to whom the device is affixed.</p>
            <p>This property is always required by Epic.</p>
          required: true
          schema:
            type: string
        - name: udi-carrier
          in: query
          description: <p>The UDI barcode string either in HRF format or AIDC format.</p>
          required: false
          schema:
            type: string
        - name: udi-di
          in: query
          description: |-
            <p>UDI device identifier.</p>
            <p>Under FDA regulations, all medical devices are required to include a Unique Device Identifier (UDI) on device labels and packages, in both human-readable and barcode format. The FDA also maintains a public database of medical devices and UDI information called the <a href="https://accessgudid.nlm.nih.gov/">Global Unique Device Identification Database (GUDID)</a>.</p>
            <p>A Unique Device Identifier (UDI) is a unique numeric or alphanumeric code that is comprised of two components:</p>
            <ul>
              <li>Device Identifier (DI) ("Static UDI") – a mandatory, fixed portion of a UDI that identifies the labeler and specific version or model of a device.</li>
              <li>Production Identifiers (PI) ("Dynamic UDI") – a conditional, variable portion of a UDI that identifies one or more of the following:</li>
              <ul>
              <li>Lot or batch number within which a device was manufactured</li>
              <li>Serial number of a specific device</li>
              <li>Expiration date of a specific device</li>
              <li>Production date of a specific device</li>
              <li>Distinct identification code for a human cell, tissue, or cellular- and tissue-based product</li>
            </ul>
            </ul>
            <p>When documenting a UDI for an implant in OpTime, you will need to use an identifier that is in a valid format for the selected issuer. Here are some example UDIs you can use for testing:</p>
            <table class="table table-hover">
            <tr>
              <th>UDI Type / Issuer</th>
              <th>Example Device ID</th>
            </tr>
            <tr>
              <td>ICCBBA</td>
              <td>W4184228005T0473</td>
            </tr>
            <tr>
              <td>HIBC</td>
              <td>MDLXMAG120200</td>
            </tr>
            <tr>
              <td>GS1</td>
              <td>00822409025305</td>
            </tr>
            </table>
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_DeviceR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /STU3/Device:
    get:
      tags:
        - Device
        - Search(ImplantsandExternalDevices)(STU3)
      operationId: Device_SearchImplantsandExternalDevicesSTU3
      parameters:
        - name: device-name
          in: query
          description: <p>A string that may match the device UDI name.</p>
          required: false
          schema:
            type: string
        - name: manufacturer
          in: query
          description: <p>Device manufacturer.</p>
          required: false
          schema:
            type: string
        - name: model
          in: query
          description: <p>Device model.</p>
          required: false
          schema:
            type: string
        - name: patient
          in: query
          description: <p>Patient identifier for the patient to whom the device is affixed.</p>
          required: true
          schema:
            type: string
        - name: udi-carrier
          in: query
          description: <p>The UDI barcode string either in HRF format or AIDC format.</p>
          required: false
          schema:
            type: string
        - name: udi-di
          in: query
          description: |-
            <p>UDI device identifier.</p>
            <p>Under FDA regulations, all medical devices are required to include a Unique Device Identifier (UDI) on device labels and packages, in both human-readable and barcode format. The FDA also maintains a public database of medical devices and UDI information called the <a href="https://accessgudid.nlm.nih.gov/">Global Unique Device Identification Database (GUDID)</a>.</p>
            <p>A Unique Device Identifier (UDI) is a unique numeric or alphanumeric code that is comprised of two components:</p>
            <ul>
              <li>Device Identifier (DI) ("Static UDI") – a mandatory, fixed portion of a UDI that identifiers the labeler and specific version or model of a device.</li>
              <li>Production Identifiers (PI) ("Dynamic UDI") – a conditional, variable portion of a UDI that identifies one or more of the following:</li>
              <ul>
              <li>Lot or batch number within which a device was manufactured</li>
              <li>Serial number of a specific device</li>
              <li>Expiration date of a specific device</li>
              <li>Production date of a specific device</li>
              <li>Distinct identification code for a human cell, tissue, or cellular- and tissue-based product</li>
            </ul>
            </ul>
            <p>When documenting a UDI for an implant in OpTime, you will need to use an identifier that is in a valid format for the selected issuer. Here are some example UDIs you can use for testing:</p>
            <table class="table table-hover">
            <tr>
              <th>UDI Type / Issuer</th>
              <th>Example Device ID</th>
            </tr>
            <tr>
              <td>ICCBBA</td>
              <td>W4184228005T0473</td>
            </tr>
            <tr>
              <td>HIBC</td>
              <td>MDLXMAG120200</td>
            </tr>
            <tr>
              <td>GS1</td>
              <td>00822409025305</td>
            </tr>
            </table>
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_DeviceSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/DeviceRequest/{ID}:
    get:
      tags:
        - DeviceRequest
        - Read(R4)
      operationId: DeviceRequest_ReadR4
      parameters:
        - name: ID
          in: path
          description: The DeviceRequest FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceRequestR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /STU3/DeviceRequest/{ID}:
    get:
      tags:
        - DeviceRequest
        - Read(STU3)
      operationId: DeviceRequest_ReadSTU3
      parameters:
        - name: ID
          in: path
          description: The DeviceRequest FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceRequestSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/DeviceRequest:
    get:
      tags:
        - DeviceRequest
        - Search(R4)
      operationId: DeviceRequest_SearchR4
      parameters:
        - name: patient
          in: query
          description: |-
            <p>Patient identifier for the patient who is the target of the request</p>
            <p>This property is always required by Epic.</p>
          required: true
          schema:
            type: string
        - name: status
          in: query
          description: |-
            <p>The status of a request. Can be one of the following:</p>
            <ul>
            <li>active</li>
            <li>completed</li>
            <li>draft</li>
            <li>cancelled</li>
            <li>unknown</li>
            </ul>
            <p>If unspecified, returns requests of all statuses.</p>
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_DeviceRequestR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /STU3/DeviceRequest:
    get:
      tags:
        - DeviceRequest
        - Search(STU3)
      operationId: DeviceRequest_SearchSTU3
      parameters:
        - name: patient
          in: query
          description: |-
            <p>Patient identifier for the patient who is the target of the request</p>
            <p>This property is always required by Epic.</p>
          required: true
          schema:
            type: string
        - name: status
          in: query
          description: |-
            <p>The status of a request. Can be one of the following:</p>
            <ul>
            <li>active</li>
            <li>completed</li>
            <li>draft</li>
            <li>cancelled</li>
            <li>unknown</li>
            </ul>
            <p>If unspecified, returns requests of all statuses.</p>
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_DeviceRequestSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/DeviceUseStatement/{ID}:
    get:
      tags:
        - DeviceUseStatement
        - Read(Implants)(R4)
      operationId: DeviceUseStatement_ReadImplantsR4
      parameters:
        - name: ID
          in: path
          description: The DeviceUseStatement FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceUseStatementR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /STU3/DeviceUseStatement/{ID}:
    get:
      tags:
        - DeviceUseStatement
        - Read(ImplantsandExternalDevices)(STU3)
      operationId: DeviceUseStatement_ReadImplantsandExternalDevicesSTU3
      parameters:
        - name: ID
          in: path
          description: The DeviceUseStatement FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceUseStatementSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/DeviceUseStatement:
    get:
      tags:
        - DeviceUseStatement
        - Search(Implants)(R4)
      operationId: DeviceUseStatement_SearchImplantsR4
      parameters:
        - name: patient
          in: query
          description: A parameter
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_DeviceUseStatementR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /STU3/DeviceUseStatement:
    get:
      tags:
        - DeviceUseStatement
        - Search(ImplantsandExternalDevices)(STU3)
      operationId: DeviceUseStatement_SearchImplantsandExternalDevicesSTU3
      parameters:
        - name: patient
          in: query
          description: Patient identifier for the patient using the device.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_DeviceUseStatementSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /DSTU2/DiagnosticReport/{ID}:
    get:
      tags:
        - DiagnosticReport
        - Read(Results)(DSTU2)
      operationId: DiagnosticReport_ReadResultsDSTU2
      parameters:
        - name: ID
          in: path
          description: The DiagnosticReport FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticReportDSTU2'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/DiagnosticReport/{ID}:
    get:
      tags:
        - DiagnosticReport
        - Read(Results)(R4)
      operationId: DiagnosticReport_ReadResultsR4
      parameters:
        - name: ID
          in: path
          description: The DiagnosticReport FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticReportR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /STU3/DiagnosticReport/{ID}:
    get:
      tags:
        - DiagnosticReport
        - Read(Results)(STU3)
      operationId: DiagnosticReport_ReadResultsSTU3
      parameters:
        - name: ID
          in: path
          description: The DiagnosticReport FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticReportSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /DSTU2/DiagnosticReport:
    get:
      tags:
        - DiagnosticReport
        - Search(Results)(DSTU2)
      operationId: DiagnosticReport_SearchResultsDSTU2
      parameters:
        - name: code
          in: query
          description: LOINC code of procedure(s).
          required: false
          schema:
            type: string
        - name: date
          in: query
          description: Date when obtained.
          required: false
          schema:
            type: string
        - name: patient
          in: query
          description: The patient FHIR ID.
          required: true
          schema:
            type: string
        - name: subject
          in: query
          description: The patient FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_DiagnosticReportDSTU2'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/DiagnosticReport:
    get:
      tags:
        - DiagnosticReport
        - Search(Results)(R4)
      operationId: DiagnosticReport_SearchResultsR4
      parameters:
        - name: category
          in: query
          description: |-
            <p>The service category.</p>
            <ul><li>Starting in the November 2021 version of Epic (or the August 2021 version with special updates), this can be either an Epic order type or a value from the <a href="http://hl7.org/fhir/us/core/2019Sep/ValueSet-us-core-diagnosticreport-category.html">US Core valueset for DiagnosticReport</a>.
            <li>In earlier versions, this must be a value from the <a href="http://hl7.org/fhir/us/core/2019Sep/ValueSet-us-core-diagnosticreport-category.html">US Core valueset for DiagnosticReport</a>.</ul>
          required: false
          schema:
            type: string
        - name: code
          in: query
          description: |
            The code for the report as a whole, as opposed to codes for the atomic results, which are the names on the observation resource referred to from the result. 
            <ul><li>Starting in the November 2021 version of Epic, or the August 2021 version with special updates, this can be any code type associated with the procedures, including LOINC, CPT, SNOMED, or other code types mapped to a procedure in Epic.</li>
            <li>In earlier versions, this can only be a LOINC code.</li></ul>
          required: false
          schema:
            type: string
        - name: date
          in: query
          description: The date or date range the order was resulted.
          required: false
          schema:
            type: string
        - name: identifier
          in: query
          description: An identifier for the report. This can be the Epic order ID or the accession number.
          required: false
          schema:
            type: string
        - name: patient
          in: query
          description: The reference to a patient resource.
          required: false
          schema:
            type: string
        - name: subject
          in: query
          description: The reference to a patient resource.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_DiagnosticReportR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /STU3/DiagnosticReport:
    get:
      tags:
        - DiagnosticReport
        - Search(Results)(STU3)
      operationId: DiagnosticReport_SearchResultsSTU3
      parameters:
        - name: code
          in: query
          description: |
            The code for the report as a whole, as opposed to codes for the atomic results, which are the names on the observation resource referred to from the result. 
            <ul><li>Starting in the November 2021 version of Epic, or the August 2021 version with special updates, this can be any code type associated with the procedures, including LOINC, CPT, SNOMED, or other code types mapped to a procedure in Epic.</li>
            <li>In earlier versions, this can only be a LOINC code.</li></ul>
          required: false
          schema:
            type: string
        - name: date
          in: query
          description: The date or date range the order was resulted.
          required: false
          schema:
            type: string
        - name: patient
          in: query
          description: The subject of the report if it is a patient.
          required: false
          schema:
            type: string
        - name: subject
          in: query
          description: The subject of the report if it is a patient.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_DiagnosticReportSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /STU3/DocumentReference:
    post:
      tags:
        - DocumentReference
        - Create(ClinicalNotes)(STU3)
      operationId: DocumentReference_CreateClinicalNotesSTU3
      parameters: []
      responses:
        '201':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentReferenceSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
      requestBody:
        description: payload
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentReferenceSTU3'
    get:
      tags:
        - DocumentReference
        - Search(RadiologyResults)(STU3)
      operationId: DocumentReference_SearchRadiologyResultsSTU3
      parameters:
        - name: author
          in: query
          description: FHIR ID for the providers who signed or addended the study.
          required: false
          schema:
            type: string
        - name: class
          in: query
          description: Must be set to “imaging-result” if specified.
          required: false
          schema:
            type: string
        - name: indexed
          in: query
          description: The instant or range of instants when a study was addended or finalized.
          required: false
          schema:
            type: string
        - name: patient
          in: query
          description: 'FHIR Patient ID. If provided, the search returns all matching results for this patient. '
          required: false
          schema:
            type: string
        - name: period
          in: query
          description: The instant when the exam was performed.
          required: false
          schema:
            type: string
        - name: subject
          in: query
          description: 'FHIR Patient ID. If provided, the search returns all matching results for this patient. '
          required: false
          schema:
            type: string
        - name: type
          in: query
          description: LOINC code for the radiology result.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle_DocumentReferenceSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /STU3/DocumentReference/{ID}:
    get:
      tags:
        - DocumentReference
        - Read(RadiologyResults)(STU3)
      operationId: DocumentReference_ReadRadiologyResultsSTU3
      parameters:
        - name: ID
          in: path
          description: The DocumentReference FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentReferenceSTU3'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /R4/DocumentReference/{ID}:
    get:
      tags:
        - DocumentReference
        - Read(RadiologyResults)(R4)
      operationId: DocumentReference_ReadRadiologyResultsR4
      parameters:
        - name: ID
          in: path
          description: The DocumentReference FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentReferenceR4'
        '400':
          description: The resource request contained an invalid parameter. Invalid parameter such as a nonexistent id.
          content: {}
        '401':
          description: User not authorized for request. Request data that the authenticated user is not allowed access to view (i.e. a patient asking for data about a stranger's allergies).
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The resource is not found
          content: {}
  /DSTU2/DocumentReference/{ID}:
    get:
      tags:
        - DocumentReference
        - Read(GeneratedCCDA)(DSTU2)
      operationId: DocumentReference_ReadGeneratedCCDADSTU2
      parameters:
        - name: ID
          in: path
          description: The DocumentReference FHIR ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentReferenceDSTU2'
        '400':
[...]
